<!DOCTYPE html>
<html lang="fr"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{base}">

<head th:insert="base :: head"></head>
<head>
    <title>Emprunter des livres - MyLibrary </title>
    <meta name="description" content="Consultez et emprunter des livres en ligne - MyLibrary"/>
</head>
<body>
<th:block th:insert="base :: header">...</th:block>
<main layout:fragment="main" role="main" th:remove="tag">
    <section id="Livres">
        <div class="container">

            <h1>Consulter et emprunter des livres</h1>

            <!-- 					Basic Search Criteria			 -->
<!--            <H2>Rechercher un livre</H2>
            <form th:action="@{books}" method="get">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <button class="btn btn-outline-secondary">Filtrer</button>
                    </div>
                    <input type="text" id="searchValue" name="searchValue" th:value="${searchValue}" class="form-control" placeholder="Tapez votre recherche" />
                    <select class="form-control" th:field="*{searchCriteria}" id="searchCriteria">
                        <option th:value="title">Recherche par titre</option>
                        <option th:value="author">Recherche par auteur</option>
                    </select>
                    <div class="input-group-append">
                        <button class="btn btn-default btn-sm" onclick="document.getElementById('searchValue').value = ''">
                            <span class="glyphicon glyphicon-remove">Supprimer</span>
                        </button>
                    </div>
                </div>
            </form>-->
                <!-- 					Les Livres			 -->
            <div class="col-md-12" th:if="${bookList==null or bookList.isEmpty()}">
                <br />
                <h3>Nos livres</h3>
                Aucun résultat
            </div>
            <div class="col-md-12" th:if="${bookList!=null and !bookList.isEmpty()}">
                <br />
                <h3>Nos livres</h3>
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead class="thead-dark">
                        <tr>
                            <th scope="col">Titre</th>
                            <th scope="col">Description</th>
                            <th scope="col">Auteur</th>
                            <th scope="col">Collection</th>
                            <th scope="col">Parution</th>
                            <th scope="col">Disponibilité</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="book:${bookList}">
                            <th scope="row"><span th:text="${book.title}">Titre</span></th>
                            <td><span th:text="${book.description}">Description</span></td>
                            <td><span th:text="${book.author}">Auteur</span></td>
                            <td><span th:text="${book.collection}">Collection</span></td>
                            <td><span th:text="${#dates.format(book.releaseDate, 'dd/MM/yyyy')}">Parution</span></td>
                            <td>
                                <div class="text-center">
                                    <span th:text="${book.getLoanAvailable()} ? '✔ Oui' : '❌ Non'">Disponibilité</span>
                                    <div th:if="${book.getLoanAvailable()}">
                                        <span th:text="${book.getStock()}">Stock</span>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>


        </div>
    </section>
</main>
<th:block th:insert="base :: footer">...</th:block>
<th:block th:insert="base :: script">...</th:block>
</body>
</html>